[submodule "extern/KaMinPar"]
	path = extern/KaMinPar
	url = https://github.com/KaHIP/KaMinPar.git
[submodule "extern/message-queue"]
	path = extern/message-queue
	url = https://github.com/niklas-uhl/message-queue.git
[submodule "extern/json"]
	path = extern/json
	url = https://github.com/nlohmann/json.git
[submodule "extern/KaMIS"]
	path = extern/KaMIS
	url = https://github.com/karlsruheMIS/KaMIS
[submodule "extern/KaGen"]
	path = extern/KaGen
	url = https://github.com/KarlsruheGraphGeneration/KaGen.git
